@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');


.wrap{
    perspective: 1500;
    -webkit-perspective: 1500;
    width: 20%;
    height: 100%;
    text-align: center;
    display: block;
    padding: 10px;
    border-radius: 10px;
}

.card{
    transform-style: preserve-3d; /*muy importante!! */
    transition: 2s ease;
}

.card:hover{
    transform: rotateY(180deg);
    transition: 2s ease;
    
}

.front{
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, white, rgb(191, 191, 191), rgb(120, 122, 124));
    text-align: center;
    display: block;
    padding: 10px;
    border-radius: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.pj_img{
    width: 250px;
    border-style: groove;
    border-radius: 7px;
}

.status{
    color: red;
    text-decoration: solid;
    font-size: 200%;  
    border-radius: 5px;
    rotate: -7deg;
    margin: 20px;
    box-shadow:inset 0px 0px 0px 10px red;
    mix-blend-mode:overlay;
    font-family:'Frijole', cursive;
}

.name{
    font-family: 'Gamja Flower', cursive;
    font-size: 200%;
    margin: 0px;
    margin-top: 20px;
    color: rgb(62, 210, 221);
    -webkit-text-stroke: 0.2px black;
}

/* .specie{
    font-size: 30px;
    margin: 0px;
    margin-bottom: 10px;
    font-family: 'Gamja Flower', cursive;
} */

.back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    background: linear-gradient(145deg, white, rgb(191, 191, 191), rgb(120, 122, 124));
    border-radius: 10px;
    
    font-family: 'Gamja Flower', cursive;

    font-size: 25px;

    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.list{
    text-align: left;
    position: relative;
    top: -25%;
}