.footer{
    font-family: 'Gamja Flower', cursive;
    font-size: 250%;
    color: rgb(62, 210, 221);
    -webkit-text-stroke: 1.3px black;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: rgb(62, 210, 221);
    -webkit-text-stroke: 1.3px black;
}