.navigation{
    display: flex;
    justify-content: space-between;
}

.prev, .next{
    font-size: 150%;
    font-family: 'Gamja Flower', cursive;
    background-color: red;
    border-radius: 100%;
    font-size: 100%;
    text-align: center;
}