.render{
  display:flow-root;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.button{
  width: 200px;
  height: 200px;
  margin-top: 5%;
  border-radius: 100%;
  background-color: rgb(255, 14, 14);
  box-shadow: 4px 5px rgb(66, 65, 65);
  font-family: 'Gamja Flower', cursive;
  font-size: 40px;
  font-stretch: extra-expanded;
  color: rgb(249, 249, 249);
  -webkit-text-stroke: 1.3px black;
}

button:hover{
  cursor: pointer;
}

button:active{
  transform: translateX(4px) translateY(5px);
  box-shadow: none;
  transition: 0.2s;
}
